* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ccc;
}
.header {
  background-color: white;
  padding: 10px 0;
  display: flex;
}
.headerLeft {
  width: 50%;
  flex-direction: row;
  display: flex;
}

.logo-fb svg {
  color: #4287f5;
  font-size: 40px;
  margin: 0 10px;
}

.search-fb {
  background-color: rgb(230, 230, 230);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
}

.search-fb svg {
  color: gray;
  font-size: 15px;
}

.menu-fb {
  cursor: pointer;
  margin-left: 25px;
  position: relative;
  padding: 8px 10px;
}

.menu-fb:hover {
  background-color: rgb(200, 200, 200);
}
.menu-fb svg {
  color: gray;
  font-size: 25px;
}

.headerRight {
  width: 50%;
  text-align: right;
  margin: 0 20px;
}

.plus-btn {
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 50%;
  background: rgb(230, 230, 230);
  text-align: center;
  line-height: 34px;
  font-size: 28px;
  cursor: pointer;
}
